body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: rgb(219, 238, 245);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    padding: 1.5rem 1rem;
}

header img {
    height: 50px;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

header a div { 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer; 
}

a{
    text-decoration: none;
}

header a div:hover {
    color: black;
    background-color: #56a7fd;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color:darkgray;
    text-align: center;
    padding: 0.6rem 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer > p {
    margin: 0;
}